body{
    margin: 36px auto 0 auto;
    width: 100%;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
} 

h1 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

#page{
    margin: 0 auto 53px;
    width: 93.75%; 
    border: 1px solid black;
    border-radius: 15px;
}

#other{
    float: right;
    width: 36.7777778%; 
}


header h1 {
    padding: 0.8em 5.33333333%;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    font-weight: normal;
    font-size: 3em;
}

.headerxa {
    display: block;
    margin: auto;
}

nav ol {
    margin: 0;
    padding: 0;
    
}

nav ol li{
    display: inline-block;
    list-style-type: none;
    padding: 14.5px;
}

img.logo {
    width: 40px;
    margin: -15px 3px -10px 0;
    display: inline-block;
}

aside {
    margin: 0 auto;
    width: 69.7885196%; 
}

aside h2, aside p{
    padding: .2em 8.48056537% .2em 8.48056537%; 
}

footer{
    clear: both;
}

#form article#main{
    float: none;
    margin: auto; 
    text-align: left;
    width: 600px; 
}

fieldset{
    border: 1px solid #00498e;
    clear: both;  
}

fieldset.contact{
    float: left;
}

fieldset.contact label{
    display: block;
    text-align: right 
}

fieldset.contact input{
    width: 15em; 
}

fieldset.buttons{
    border: none;
}

fieldset.wrapper {
    border: 0;
    margin: auto;
}

fieldset.wrapper legend {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}

fieldset.wrapper > legend {
    
    font-size: 1.6em;
}

body {
    margin-top: 0;
}

label {
    color: black;
    display: block;
    font-size: .9em;
    font-weight: bold;
}

figure.logo {
    float: left;
}

fieldset {
    border: none;
    padding: 5px;
}

form {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}

header {
    padding: 3em 0;
    background-image: linear-gradient( #537339, rgba(114, 147, 86, 0.41) );
}

nav li {
    text-align: center;
    padding: 0;
}

nav li.active {
    color: white;
    background-color: #974b29;
}

.mistake {
    border: 3px solid red;
}

footer hr {
    margin-bottom: 20px;
}

header {
    font-family: cursive;
}

nav {
    display: flex;
    height: 50px;
    overflow: hidden;
    justify-content: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    background-color: rgba(219, 174, 51, 0.79);
}

footer {
    border-top: 1px solid grey;
    margin-top: 10px;
    padding-top: 10px;
}

footer ul {
    vertical-align: middle;
    list-style: none;
    padding-left: 0;
}

.github {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #FF4F4F;
}

ul.exp {
    list-style: none;
    padding: 0;
}

ul.exp p {
    padding: 0 1em;
    margin: 0;
}

ul.exp h4 {
    margin-bottom: .5em;
}

.fixed {
    position: fixed;
    top: 0;
    height: 50px;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    border-top: 0;
    margin-bottom: 50px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#coursework ul, #projects ul {
    list-style: none;
    padding: 0;
}

#projects ul > li > ul {
    list-style-type: disc;
    padding-left: 1em;
}

#projects ul > li > ul > li > ul {
    list-style-type: circle;
}

#main #projects > ul > li > ul {
    margin-left: 65px;
}

#projects img {
    float: left;
    width: 50px;
    margin-right: 10px;
}

 #main #projects a {
    text-decoration: none;
    color: #D66464;
}

#coursework li {
    margin-bottom: 10px;
}

#coursework i {
    font-size: .8em;
}

#index img {
    box-shadow: 0 3px 10px rgba(0,0,0,0.7);
}

.nav-wrap {
    height: 50px;
}

.contact label {
    margin-bottom: 5px;
}

#blog h3 {
    text-align: center;
}

#index ul img {
    margin-right: 10px;
}
#index ul li {
    margin: 5px 0;
}
#index ul {
    list-style: none;
    padding: 0;
}

#coursework > ul > li > ul {
    padding-left: 2em;
}

.required {
    font-weight:bolder;
    font-style:italic;
}

img.xa {
    float: right;
}

.headerimage {
    width: 50%;
}

.headertext {
    width: 50%;
}

input[type="email"] input:valid{
    border: 3px solid green;
}

input[type="email"] input:invalid{
    border: 3px solid red;
}

div.spacer {
    margin-top: 50px;
}

.mistake {
    border: 3px solid red; !important
}   

.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-color:#1E1E1E;
    overflow:hidden;
}

.content {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;
    
}
.table{
    display:table;
    width:100%;
    height:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
}

.bg{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
    color:#fff;
}

.img1{
    background-image: url('https://justinrdunn.github.io/images/xabg.jpg');
}

.img2{
    background-image: url('https://justinrdunn.github.io/images/cityreach.png');
}

.img3{
    background-image: url('https://justinrdunn.github.io/images/SeniorRecital.jpg');
}

.img4{
    background-image: url('https://justinrdunn.github.io/images/xabg.jpg');
}

@media only screen and (max-width : 522px) {
    nav a {
        font-size: 0.6em;
    }
}

/* Nav Dropdown begin */
@media screen and (min-width: 767px) {
    .navbar-nav {
      float: right;
    }
    
   .sidebar-nav {
      padding: 9px 0;
    }
  
  .dropdown-menu .sub-menu {
      left: 100%;
      position: absolute;
      top: 0;
      visibility: hidden;
      margin-top: -1px;
  }
  
  .dropdown-menu li:hover .sub-menu {
      visibility: visible;
  }
  
  .dropdown:hover .dropdown-menu {
      display: block;
  }
  
  .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
      margin-top: 0;
  }
  
  .navbar .sub-menu:before {
      border-bottom: 7px solid transparent;
      border-left: none;
      border-right: 7px solid rgba(0, 0, 0, 0.2);
      border-top: 7px solid transparent;
      left: -7px;
      top: 10px;
  }
  .navbar .sub-menu:after {
      border-top: 6px solid transparent;
      border-left: none;
      border-right: 6px solid #fff;
      border-bottom: 6px solid transparent;
      left: 10px;
      top: 11px;
      left: -6px;
  }
  
  .nav li.active {
    max-height: 50px;
  }
  .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #9d9d9d;
    background-color: #333333;
  }
}
/* Nav Dropdown end */
