<header{% if page.headerimg %} style="background-image: url('{{ site.url }}/images/{{ page.headerimg }}'); background-size: inherit; background-position: center;"{% endif %}>
  <div class="container">
    {% if page.headerlogo %}
    <img src="{{ site.url }}/images/{{ page.headerlogo }}" class="headerxa" alt="Header Logo">
    {% else %}
    <img src="{{ site.url }}/images/XAVT.png" class="headerxa" alt="Chi Alpha logo">
    {% endif %}
  </div>
</header>
<div class="nav-wrap">
  <div class="nav-anchor"></div>
    <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"{% if page.url == '/' %} style="color:white;"{% endif %}><img src="{{ site.url }}/images/xa.png" class="logo">Justin Dunn</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown{% if page.url == '/aboutxa/' or page.url == '/people/' or page.url == '/giving/' or page.url == '/worship/' or page.url == '/blog/' or page.activetab == 'blog' %} active{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" onclick="return;">CMIT Internship<b class="caret"></b></b></a>
            <ul class="dropdown-menu">
              <li><a href="/aboutxa/">About</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/giving/">Giving</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/worship/">Worship Team</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/blog/">Blog</a></li>
            </ul>
          </li>
          <li{% if page.url == '/cityreach/' %} class="active"{% endif %}><a href="/cityreach/">City Reach</a></li>
          <li{% if page.url == '/music/' %} class="active"{% endif %}><a href="/music/">Music</a></li>
          <li{% if page.url == '/contact/' %} class="active"{% endif %}><a href="/contact/">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</div>
